.text-color-yellow { color:#DFBF3A; }
.text-color-primary { color:#054C8E; }
.text-color-blue-night { color:#00305B; }
.text-color-blue-night2 { color:#002546; }
.text-color-blue { color:#1D8AEF; }
.text-color-light-gray { color:#F6F6F6; }
.text-color-cyan { color:#C8E5FF; }
.text-color-light-cyan { color:#E3EEF5; }

.bg-color-yellow { background-color:#DFBF3A; }
.bg-color-primary { background-color:#054C8E; }
.bg-color-blue-night { background-color:#00305B; }
.bg-color-blue-night2 { background-color:#002546; }
.bg-color-blue { background-color:#1D8AEF; }
.bg-color-light-gray { background-color:#F6F6F6; }
.bg-color-cyan { background-color:#C8E5FF; }
.bg-color-light-cyan { background-color:#E3EEF5; }